/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white!important;
}
/* backgraound part starts here .............*/
body{
    background-image: linear-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,0,-1.4)
    ),url("./images/Asset\ 1@4x.png") ;
   background-size:100%, 100% !important;
   background-repeat: no-repeat !important;
   background-color: black !important;

}
.top-left-green-shadow img{
    color: transparent;
    z-index: -1;
    position: fixed;
    height: 1000px;
    width: 600px;
    top: -50px;
    left: 0px;
}
.bottom-right-green-shadow img{
    position: fixed;
    z-index: -1;
    height: 1000px;
    width: 600px;
    top: 20%;
    right: -30px;

}

  /* backgraound part  ends here................*/


/* This is the footer section ................... */
#footer{
    position: fixed;
    bottom: -1px;
    text-align: center;
    width: 100%;
}
.social-icons{
    width: 100%; 
    height: auto; 
    padding: 10px;
    padding-bottom: 15px;
    background: linear-gradient(rgb(20, 22, 21));
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-top: .5px solid white;
    border-left: .5px solid white;
}
.social-icons a i {
    color: white;
    padding: 0 10px;
}
.social-icons .fa-facebook-square:hover{
  
    color: #6195ff !important;
    transition: .3s ease;
}
.fa-twitter-square:hover{
    color: #1DA1F2 !important;
    transition: .3s ease;
}
.fa-instagram:hover{
    color: #cd486b !important;
    transition: .3s ease;
}
.fa-linkedin-square:hover{
    color: #0e76a8 !important;
    transition: .3s ease;
}
.fa-youtube-play:hover{
    color: 	#FF0000 !important;
    transition: .3s ease;
}
.fa-telegram:hover{
    color: #0088CC !important;
    transition: .3s ease;
}

/* footer section ends here....................... */
