/* global */
@font-face {
    font-family:"heading font";
    src: url("./font/BEST\ IN\ CLASS.ttf") format("truetype");
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white!important;
}
p{
    text-justify: auto;
    text-align: justify;
}



/* backgraound part starts here .............*/
body{
    background-image: linear-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,0,-1.4)
    ),url("./images/Asset\ 1@4x.png") ;
   background-size:100%, 100% !important;
   background-repeat: no-repeat !important;
   background-color: black !important;

}
.top-left-green-shadow img{
    color: transparent;
    z-index: -1;
    position: fixed;
    height: 1000px;
    width: 600px;
    top: -50px;
    left: 0px;
}
.bottom-right-green-shadow img{
    position: fixed;
    z-index: -1;
    height: 1000px;
    width: 600px;
    top: 20%;
    right: -30px;

}

  /* backgraound part  ends here................*/


/* This is the footer section ................... */
.footer{
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    display: none;

}
.show, .footer:hover{
    display: block;
}

.social-icons{
    width: 100%; 
    height: auto; 
    padding: 10px;
    padding-bottom: 15px;
    background: linear-gradient(rgba(0,0,0),rgb(4, 58, 4));
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-top: .5px solid rgb(83, 80, 80);
    border-left: .5px solid rgb(83, 80, 80) ;
}
.social-icons a i {
    color: white;
    padding: 0 10px;
}
.social-icons .fa-facebook-square:hover{
  
    color: #6195ff !important;
    transition: .3s ease;
}
.fa-twitter-square:hover{
    color: #1DA1F2 !important;
    transition: .3s ease;
}
.fa-instagram:hover{
    color: #cd486b !important;
    transition: .3s ease;
}
.fa-linkedin-square:hover{
    color: #0e76a8 !important;
    transition: .3s ease;
}
.fa-youtube-play:hover{
    color: 	#FF0000 !important;
    transition: .3s ease;
}
.fa-telegram:hover{
    color: #0088CC !important;
    transition: .3s ease;
}

/* footer section ends here....................... */


/* menu section starts here........................... */

.hamburgerIcon{
    cursor: pointer;
}
.hamburgerIcon div {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 5px 1px;
}

.hamburgerIcon div:hover {
    cursor: pointer;
}


.navbar_main{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* mix-blend-mode: normal; */
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    /* box-sizing: border-box; */
    border-radius: 7px;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(6px);
    background-color: #ffffff11;
    
}

nav ul {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    font-family: "heading font";
    padding: 4px 25px;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
    letter-spacing: 1.5px;

}
nav ul li:hover{
    border: .1px solid rgb(77, 72, 72);
}

.navLogo {
    width: 100%;
    max-width: 190px;
}

.sidenav {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 85px;
    right: 0;
    background:linear-gradient(rgba(0,0,0),rgb(19, 124, 19),rgba(0,0,0));
    overflow-x: hidden;
    padding-top: 60px;
    padding-bottom: 20px;
    transition: 0.5s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: .1px solid rgb(77, 72, 72);
}

.sidenav  li a {
    padding: 8px 8px 8px 20px;
    text-decoration: none !important;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none !important;
}
.sidenav  li{
    list-style: none;
}

.sidenav li a:hover {
    color: whitesmoke;
    border: .1px solid rgb(77, 72, 72) !important;
}
.sidenav a:first-child:hover{
    border: none;
}
.closebtn a:hover{
    border: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-right: 50px;
}


.homePage {
    display: flex;
    justify-content: space-around;
    margin: 40px 40px;
    color: white;
}

.homePage_item {
    padding: 90px 0 10px 0px;
    width: 100%;
    max-width: 405px;
}

.homeLogo {
    width: 100%;
    max-width: 500px;
    padding: 20px 20px;
}

.notify__me input[type="email"] {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    font-size: 12px;
    outline: none;
    height: 30px;
}
.input-with-icon{
    margin-left: 4px;
    padding: 4px !important;
    
}

.notify__me input::-webkit-input-placeholder {
    color: #63c92c;
    font-weight: 600;
    opacity: .7;
   
}
.notify__me input:first-child{
    padding-left: 15px;
}

.notify__me input[type="submit"] {
    padding: 8px 11px;
    color: #ffff;
    font-weight: 700;
    background: rgb(18, 54, 22);
    background: linear-gradient( 90deg, rgba(18, 54, 22, 1) 58%, rgba(98, 172, 108, 1) 98%);
    outline: none;
    height: 30px;
}

.homePage_item .heading {
    font-size: 4rem;
    color: white;
    margin-bottom: 10px;
    font-family: "heading font";
    font-style: italic;
    letter-spacing: 1px;
}

.homePage_item p {
    font-size: 16px;
    line-height: 1;
    color: white;
    margin-bottom: 25px;
}

.notify__me form {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    .homePage_item {
        width: 100%;
        max-width: 405px;
        padding: 0px;
    }
    .homeLogo {
        width: 100%;
        max-width: 500px;
        padding: 20px 20px;
    }
    .homePage {
        margin: 0px;
    }
    .homePage_item p {
        line-height: 1.3;
    }
}

@media screen and (max-width:426px) {
    .homeLogo {
        width: 100%;
        max-width: 400px;
        padding: 20px 20px;
    }
    .homePage_item {
        max-width: 405px;
    }
    .homePage_item .heading {
        font-size: 2.5rem;
        color: white;
        margin-bottom: 10px;
    }
    .homePage_item p {
        font-size: 14px;
    }
}

@media screen and (max-width:360px) {
    .homePage_item .heading {
        font-size: 2rem;
    }
    .homePage_item p {
        font-size: 14px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    nav ul li {
        display: none;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 2px solid green;
        padding: 15px 15px;
    }
    .homePage {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}
@media screen and(max-width:633px) {
    .nav{width: 110%;
        transition: .5s ease;}
    
}
@media screen and(max-width:540px) {
    .nav{width: 120%;
    transition: .5s ease;}
    
}
@media screen and(max-width:370px) {
    .nav{width: 140%;
    transition: .5s ease;}
    
}


/* menu section ends heree.............. */



/* trailer section starts here..................... */
#trailer{
    margin-top: 50px;
}
.trailer_header {
    text-align: center;
    margin: 10px 0 10px 0px;
    font-family: "heading font";
    letter-spacing: .2rem;
    font-style: italic;
}

.trailer_container {
    display: grid;
    justify-content: center;
    gap: 4px;
    align-content: center;
    grid-auto-flow: row;
}

.trailer_iframe {
    width: 550px;
    height: 300px;
    border-radius: 10px;
    border: .1px solid rgb(112, 111, 111);

}

@media screen and (max-width: 662px) {
    .trailer_iframe {
        width: 500px;
        height: 280px;
    }
}

@media screen and (max-width: 562px) {
    .trailer_iframe {
        width: 400px;
        height: 250px;
    }
}

@media screen and (max-width: 368px) {
    .trailer_iframe {
        width: 450px;
        height: 230px;
    }
}

@media screen and (max-width: 440px) {
    .trailer_iframe {
        width: 300px;
        height: 230px;
    }
}

@media screen and (max-width: 308px) {
    .trailer_iframe {
        width: 240px;
        height: 230px;
    }
}

@media screen and (max-width: 240px) {
    .trailer_iframe {
        width: 200px;
        height: 230px;
    }
}

@media screen and (max-width: 213px) {
    .trailer_iframe {
        width: 180px;
        height: 200px;
    }
}




/* trailer section end here .............. */

      
 /* events section start here.......... */
 
 img
 {
    border-radius: 10px;
 }
 
 .Eevent_card__back h2
 {
     position: absolute;
     font-family: "heading font";
 }
 
 .Eevent_card__back p
 {
     position: absolute;
     top: 50px;
     font-size: 15px;
     padding: 10px;
 }
 
 .Eevent_card__front h2
 {
     position: absolute;
     padding: 10px;
     top: 200px;
     color: #000;
 }
 
 /* style the Eevent_card class with all child div's of class .front */
 .Eevent_card > .Eevent_card__front
 {
     position: absolute;
     transform: perspective(600px) rotateY(0deg);
     
     width: 302px;
     height: 290px;
     
     backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
     transition: transform .5s linear 0s;
 }
 
.events{
    margin-left: 9%;
    margin-bottom: 400px ;
}
 .Eevent_card
{
    width: 302px;
    height: 299px;
    margin: 10px;
    float: left; 
    cursor: pointer;
    
}
 .Eevent_card > .Eevent_card__back
 {
     position: absolute;
     transform: perspective(600px) rotateY(180deg);
     background: #262626;
     color: #fff;
     width: 302px;
     height: 290px;
     border-radius: 10px;
     padding: 10px;
     backface-visibility: hidden; 
     transition: transform .5s linear 0s;
 }
 .Eevent_card > .Eevent_card__back p{
     margin-top: 50px;
 }
 .Eevent_card__front img{
    width: 302px;
    height: 290px;
 }
 .Eevent_card:hover > .Eevent_card__front
 {
     transform: perspective(600px) rotateY(-180deg);
     transition: 1s ease;
 }
 
 .Eevent_card:hover > .Eevent_card__back
 {
     transform: perspective(600px) rotateY(0deg);
     transition: 1s ease;
 }
 @media(max-width:360px)
 {
     .events{
         margin-left: 5%;
     }
 }



/* gallery code goes here................. */
.Sponsors_heading,.Gallery_heading {
    font-family: "heading font";
    display: flex;
    justify-content: center;
    /* margin-top: 30px; */
    font-style: italic;
    letter-spacing: 1px;
}

#owl-carousel {
    margin-top: 10px;
    margin-bottom: 40px;
    z-index: 0;
}
#owl-carousel img{
    z-index: -1;
}

#Gallary{
    margin-top: 150px;
}
#sponsors{
    margin-top: 210px;
}
.Gallery_item {
    margin: 10px;
    height: 300px;
    padding: 20px;
    
}

.Sponsors__container .owl-item {
    opacity: .5;
    transform: scale(.5);
    
    
}
.Sponsors__container .owl-item img{
    backdrop-filter: blur(6px);
    color: #ffffff44;
}

.Sponsors__container .owl-item.center {
    opacity: 1;
    transform: scale(1.2);
    height: 300px;
    transition: .8s ease;
}
.owl-nav {
    font-size: 3rem;
}

.owl-prev {
    position: absolute;
    top: 40%;
    left: 0%;
    background-color: black;
}

.owl-next {
    position: absolute;
    top: 40%;
    right: 0%;
}

@media (max-width:768px) {
    .Gallery_item {
        margin: 50px;
    }
}
@media (max-width:436px) {
    .owl-prev, .owl-next{
       
        top: 27%;
    }
}
@media (max-width:418px) {
    .owl-prev, .owl-next{
       
        top: 27%;
    }
}















































































