*{
    color: black;
    overflow: hidden;
}
nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    border: 5px solid green;
}
   
.navItem{
    display: flex;
    justify-content: space-between;

    
}
nav .mainMenu {
    display: inline-flex;
    list-style: none;
    margin: 30px auto;
    margin-right: 20px;
    list-style: none;
    justify-content: center;
    
}

nav .mainMenu li a {
   
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding-left: 25px ;
   

}
nav .mainMenu li a:hover {
    text-decoration: underline;
    text-decoration-color: aquamarine;
}
 

nav .logo {
 width: 100%;
 max-width: 250px;
height: auto;
padding: 20px 40px 20px 40px;


color: #E5E5E5;
   
 
}
.icon_logo{
    padding: 28px 20px 20px 20px;
    width: 100%;
    max-width: 60px;
    

}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0; 
    right: 0; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
   
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    
   
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 165px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    
}
 
@media screen and (max-width: 800px) {
    .mainMenu li{
        display: none;
    }   
    
    }
    .homeLogo{
        width: 100%;
        max-width: 1200px;
        height: auto;
       padding: 40px 160px 20px 10px;
    }

.homePage{
display: flex;
justify-content: space-between;
   
   
    
    
}
.homePage_item1{
    padding:160px 20px 20px 80px;
    border: 10px black;
    width: 100%;
    color: white;
    justify-content:space-between;
}
.homePage h2{
    font-weight: bold;
    font-style: italic;
}

.homePage p{
text-align: left;
color: white;
font-size: 10px;
width: 200px;
}
.notifyMe{
    display: flex;
    margin-top: 15px;
    
}
.notifyMe input[type=email]{
    font-size: 8px;
    width: 40%;
    max-width: 100px;
    padding: 2px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
.notifyMe input[type=button]{
    font-size: 6px;
    width:20%;
    max-width: 60px;
    padding: 2px;
    background-color:green;
    justify-content: center;
    border: 1px solid green;
    border-radius: 1px;


}


























































































